.container{
    margin: 0 auto;
    width: 970px;
    background-color: black;
    height: 520px;
    border: 10px solid grey;
    margin-top: 30px;
    background-image: url("");
    background-size: 970px 520px;
    
}

.select{
    background-color: #C6C6C6;
    margin-left: 350px;
    margin-top: 100px;
    height: 150px;
    width: 250px;
    padding-left: 15px;
    padding-top: 5px;
    border: 5px solid grey;
    border-radius: 5px;
}

button{
    height: 30px;
    width: 75px;
}

p{
    color: #B9A226;
    font-size: 24px;
    padding-left: 50px;
    margin-bottom: 8px;
}

#players{
    display: none;
}

select{
    margin-left: 15px;
}

img{
    height: 250px;
    width: 160px;
}

#left{
    margin-left: 140px;
}

#right{
    margin-left: 330px;
}